@import "bootstrap.min.css";

* {
    --fbvs-bg-color-light: #f5e7bb;
    --sidebar-bg: var(--bs-primary);
    --sidebar-menu-icon-color: var(--bs-nav-tabs-link-hover-border-color);
    --sidebar-menu-active-item-color: var(--bs-nav-tabs-link-hover-border-color);
    --sidebar-menu-color: var(--bs-nav-tabs-link-hover-border-color);
    --link-color: var(--bs-primary);
    --sidebar-menu-active-item-bg: transparent;
}

a {
    text-decoration: none;
    color: var(--bs-primary);
}

.menu-item, .menu-header, .menu-item-label, #main-menu .menu .menu-icon {
    color: #dbd6cc;
}

.menu-item, .menu-header, .menu-item-label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
}

.menu-item-label:active, .menu-item:active, .menu-header:active, #main-menu .menu .menu-icon:active, .menu-item-label:hover, .menu-item:hover, .menu-header:hover, #main-menu .menu .menu-icon:hover {
    color: #ffffff;
}

#main-menu .menu .menu-item.active:not(.expanded) .menu-icon, #main-menu .menu .menu-item.active:not(.expanded) a {
    color: var(--sidebar-menu-active-item-color);
}

.content-header, body {
    background-color: var(--fbvs-bg-color-light);
}

.content-top, .content-body {
    background-color: #ffffff;
}

.page-item.active .page-link, .page-item.active .page-link:hover {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active:focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: var(--bs-btn-hover-color);
}

.btn:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover {
    box-shadow: none;
    color: var(--bs-light);
}

.btn:not(:disabled):not(.disabled):not(.btn-link):active, .btn:not(:disabled):not(.disabled):not(.btn-link):active:focus, .btn:not(:disabled):not(.disabled):not(.btn-link):focus {
    border: 0;
    box-shadow: none;
    color: var(--button-active-color);
}

.action-filters-button i {
    color: var(--bs-light);
}





