* {
    --fbvs-bg-color-light: #f5e7bb;
    box-sizing: border-box;
}

body {
    background-color: var(--fbvs-bg-color-light);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
}

h1 {
    font-family: Roboto, sans-serif;
    color: var(--bs-primary);
    text-transform: uppercase;
    font-weight: bold;
}

a {
    color: var(--bs-primary);
}

.fbvs-logo-img {
    width: 60px;
}

.fbvs-banner-img {
    max-height: 800px;
    object-fit: cover;
    object-position: top;
    position: relative;
    display: inline-block;
}

.fbvs-banner-img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #f5e7bb);
    pointer-events: none;
}

.fbvs-card-img {
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.fbvs-text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fbvs-hover-size {
    transition: transform 0.2s ease-in-out;
}

.fbvs-hover-size:hover {
    transform: scale(1.05);
}

#logo-facebook:hover {
    background: #0c4a6e;
    padding: 5px 10px;
    border-radius: 20%;
}

#logo-twitter:hover {
    background: rgb(0, 172, 237);
    padding: 7px;
    border-radius: 35%;
}

#logo-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    border-radius: 35px;
    margin: 5px;
}

.fbvs-enter-link {
    position: absolute;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}