<p>Bonjour,</p>

<p>Vous avez demandé à changer votre mot de passe sur France Beach-Volley Series.</p>

<p>Pour créer votre nouveau mot de passe, suivez le lien suivant :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans 5 minutes.</p>

<h5>A bientôt sur France Beach Volley Series !</h5>
