{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger w-50" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1>Modifier son mot de passe</h1>

        <div class="w-50">
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Confirmer</button>
            {{ form_end(resetForm) }}
        </div>
    </div>

{% endblock %}
