{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="mb-3">
            <h1>Mentions légales</h1>
        </div>

        <div class="mb-5">
            <p class="small fw-bold">Le présent site Internet est un site non-officiel dédié à la pratique du beach-volley. Il s'inspire librement du site officiel Beach Volley System de la FFVB accessible à l'adresse suivante :
                <a href="http://bvs.ffvbbeach.org">http://bvs.ffvbbeach.org</a>. Tout comme ce site, il a pour but de réunir diverses fonctionnalités liées à la pratique en compétition du beach-volley en France : gestion de compte licencié, création d'équipes, inscription aux tournois officiels, référencement des résultats... Cependant, ce site ne remplace pas le BVS qui reste le site officiel de la FFVB pour le beach-volley. Veuillez lire attentivement les mentions légales ci-dessous avant d'utiliser ce site.</p>
        </div>
        <div class="mb-5">
            <h5>1. Informations générales</h5>
            <p>Le site France Beach Volley Series est exploité par Coline Guerin, basée à Bordeaux. Vous pouvez nous contacter à l'adresse
                e-mail suivante : <a href="contact@fbvs.com">contact@fbvs.com</a>.</p>
            <p>Il a été réalisé à but éducatif et en aucun cas lucratif. Il n'a pas vocation à être utilisé professionnellement.</p>
        </div>

        <div class="mb-5">
            <h5>2. Propriété intellectuelle</h5>
            <p>Tous les contenus présents sur ce site, tels que les textes, les images, les vidéos, les logos, les
                marques de commerce, les graphiques et tout autre élément, sont protégés par le droit d'auteur et autres lois
                relatives à la propriété intellectuelle. Ils appartiennent à leurs propriétaires respectifs. Les images des articles d'exemple proviennent de la page Facebook officielle de France Beach Volley Series.</p>
            <p>L'utilisation de tout contenu de ce site sans autorisation expresse est strictement interdite. Vous ne
                pouvez pas reproduire, distribuer, modifier, publier, transmettre, ou utiliser de quelque manière que ce soit
                le contenu de ce site sans notre consentement écrit préalable ou celui des détenteurs des droits d'auteur
                concernés.</p>
        </div>

        <div class="mb-5">
            <h5>3. Responsabilité</h5>
            <p>Ce site s'efforce de se baser sur des informations réelles en lien avec le beach-volley français, mais ne
                garantit pas l'exactitude, l'exhaustivité ou la pertinence des informations fournies. L'utilisation des
                informations et du contenu de ce site se fait à vos propres risques.</p>
            <p>Nous déclinons toute responsabilité en cas de dommages directs, indirects, spéciaux, consécutifs ou
                autres, résultant de l'utilisation de ce site ou de l'impossibilité d'y accéder.</p>
        </div>

        <div class="mb-5">
            <h5>4. Liens externes</h5>
            <p>Ce site peut contenir des liens vers d'autres sites Internet ou des ressources externes qui ne sont
                pas sous mon contrôle. Nous n'assumons aucune responsabilité quant au contenu de ces sites ou ressources
                externes et déclinons toute responsabilité quant aux dommages ou préjudices pouvant résulter de l'utilisation
                de ces liens.</p>
        </div>

        <div class="mb-5">
            <h5>5. Protection des données personnelles</h5>
            <p>Aucune donnée personnelle n'a été récoltée ni utilisée pour ce site. Les seules informations qui s'y trouvent sont publiques et à but uniquement informatif, afin de fournir du contenu au site.</p>
        </div>

        <div class="mb-5">
            <h5>6. Modifications des mentions légales</h5>
            <p>Nous nous réservons le droit de modifier ces mentions légales à tout moment et sans préavis. Il est
                de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles
                modifications. L'utilisation continue de ce site après la publication des modifications constitue
                votre acceptation de ces modifications.</p>
        </div>
    </div>

{% endblock %}