{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="d-flex justify-content-center">
        <div class="card w-75 mt-1"
             style="box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);">
            <div class="card-header pt-3">
                <h5>Bienvenue dans le tableau d'administration !</h5>
            </div>
            <div class="card-body">
                <p class="card-text">C'est ici que vous pouvez gérer l'administration du site.
                    Pour cela, suivez les liens vers :</p>
                <ul>
                    <li><i class="fas fa-newspaper"></i><b> Articles :</b> pour ajouter un nouvel article, modifier un article existant ou le supprimer.
                    </li>
                    <li><i class="fas fa-shield"></i><b> Clubs :</b> pour ajouter un club nouvellement référencé, modifier les informations d'un club existant ou le supprimer.
                    </li>
                    <li><i class="fas fa-user"></i><b> Joueurs :</b> pour ajouter un nouveau licencié et lui créer un compte, modifier ses informations et supprimer son compte (en cas de non-renouvellement de licence ou de mauvais comportement).
                    </li>
                    <li><i class="fas fa-user-group"></i><b> Equipes :</b> pour créer une nouvelle équipe au cas où les joueurs n'arriveraient pas à le faire eux-mêmes, en modifier ou en supprimer une.
                    </li>
                    <li><i class="fas fa-volleyball"></i><b> Tournois :</b> pour entrer un nouveau tournoi et gérer les inscriptions, le modifier et le supprimer si besoin. Vous pouvez également dupliquer un tournoi existant (pensez-y pour les doubles genres).
                    </li>
                    <li><i class="fas fa-trophy"></i><b> Résultats :</b> pour entrer les résultats des tournois pour chaque joueur.
                    </li>
                </ul>
            </div>
            <div class="card-footer alert alert-warning m-1" role="alert">
                <div>
                    <p class="mb-0"><i class="fas fa-warning pe-2"></i><b>Attention !</b></p>
                    <p class="mb-0">Ces changements affecteront la base de données de France Beach Volley Series et s'afficheront sur le site pour tous les utilisateurs. Vérifiez bien
                        que vous avez les droits requis avant de les effectuer.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}