<footer class="mt-5">
    <div class="fbvs-mobile-footer-container bg-primary d-flex justify-content-between w-100 px-5 py-3">
        <div class="row">
            <div class="navbar navbar-expand-lg" data-bs-theme="dark">
                <ul class="fbvs-mobile-footer-items navbar-nav d-flex justify-content-center w-100">
                    <li class="nav-item">
                        <a href="{{ path('contact') }}" class="nav-link px-4">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_legal_index') }}" class="nav-link px-4">Mentions légales</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://www.ffvb.org/" class="nav-link px-4">Site officiel de la FFVB</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center align-items-center">
                <a class="mx-4" href="https://www.facebook.com/FranceBeachVolleySeries/">
                    <i id="logo-facebook"
                       class="fa-brands fa-facebook-f fa-2xl text-white"
                    ></i>
                </a>
                <a class="mx-4" href="https://twitter.com/FFvolley">
                    <i id="logo-twitter"
                       class="fa-brands fa-twitter fa-2xl text-white"></i>
                </a>
                <a class="mx-4" href="https://www.instagram.com/fbvsofficiel/?hl=fr">
                    <i id="logo-instagram"
                       class="fa-brands fa-instagram fa-2xl text-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center px-4 pt-2 bg-white">
        <div>
            <p class="mb-2">© 2023 Copyright: Coline Guerin</p>
        </div>
    </div>
</footer>