{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="d-flex justify-content-between mt-4 mb-3">
                    <h1 class="fs-3">Tournoi : <span class="fw-normal">{{ tournament.name }}</span></h1>
                    <a href="/tournois">
                        <button class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left-long me-2"></i>Revenir
                            à la liste
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content card p-5 shadow">
                            <div class="row">
                                {% include 'tournament/includes/information.html.twig' %}
                            </div>
                            <div class="row py-3">
                                {% include 'tournament/includes/completion.html.twig' %}
                            </div>
                            <div class="row m-t-sm">
                                {% include 'tournament/includes/tabs.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {% include 'tournament/includes/register.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}