{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 d-flex align-items-center flex-column">
        <h1 class="fs-3">Erreur 403</h1>
        <p class="fw-bold">Désolé ! Vous n'êtes pas autorisé à accéder à cette page.</p>
        <img src="/assets/images/fbvs_403.png" alt="..." class="img-fluid w-50">
    </div>
{% endblock %}