{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 d-flex align-items-center flex-column">
        <h1 class="fs-3">Erreur 500</h1>
        <p class="fw-bold">Aïe ! Il y a un problème côté serveur. Merci de patienter jusqu'à ce qu'il soit réglé.</p>
        <img src="/assets/images/fbvs_500.png" alt="..." class="img-fluid w-50">
    </div>
{% endblock %}