{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 d-flex align-items-center flex-column">
        <h1 class="fs-3">Erreur 404</h1>
        <p class="fw-bold">Oups ! Cette page n'existe pas.</p>
        <img src="/assets/images/fbvs_404.png" alt="..." class="img-fluid w-50">
    </div>
{% endblock %}