{% extends 'base.html.twig' %}

{% block body %}
    <section class="mt-4">
        {% if app.user %}
            <div class="container pb-5">
                {% for category, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-{{ category }} w-25">
                                    <i class="fa-solid fa-circle-check pe-2"></i>
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <h1 class="fs-3 mb-4">Profil joueur : <span
                                    class="fw-normal">{{ app.user.firstname }} {{ app.user.lastname }}</span></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">

                        <!-- Top-left section -->
                        {% include 'user/cards/generalInformation.html.twig' %}
                        <!-- End of section -->

                        <!-- Bottom-left section -->
                        {% include 'user/cards/results.html.twig' %}
                        <!-- End of section -->

                    </div>

                    <div class="col-lg-8">

                        <!-- Top-right section -->
                        {% include 'user/cards/detailedInformation.html.twig' %}
                        <!-- End of section -->

                        <div class="row">

                            <!-- Bottom-middle section -->
                            <div class="col-md-6">
                                {% include 'user/cards/teams.html.twig' %}
                            </div>
                            <!-- End of section -->

                            <!-- Bottom-right section -->
                            <div class="col-md-6">
                                {% include 'user/cards/tournaments.html.twig' %}
                            </div>
                            <!-- End of section -->

                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <p>Aucun résultat trouvé</p>
        {% endif %}

    </section>

{% endblock %}